.layout-body {
  
  .top-text {
    background-color: #ccc;
    border-radius:  5px;
    margin-bottom: 10px;
    padding: 5px 5px;
  }

  // 页面上部搜索框
  .top-search{

    text-align: center;
  
    .top-search-input {
      width: 40% ;

      .top-search-input-button{
        color: black;
        background-color: #409EFF;
      }
    }
  }

  .top-checkbox{
    padding: 10px 5px;
    border-radius: 5px;
  }

  // 下面是图表部分
  .bottom-chart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 

    .module-chart-item{
      width: 33%;
      margin-top: 10px;
      
      .bottom-chart-item-button{
        float: right;
        padding: 3px 0;
      }
    }
  }
}

