.top-select{
  text-align: center;
  margin: 40px auto;
  margin-bottom: 100px;
  .top-select-input{
    width: 400px;
  }
}
.bottom-form{
  margin-top: 100px;
  box-shadow: 0px 0px 10px #dedede;
  padding: 20px;
}
